@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

body{
    background: rgb(10, 195, 170);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: translateY(10px);
    transition: 0.5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 10px;
}

.search-bar input::placeholder{
    color: white;
}

.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
}

.search-bar button i{
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.background{
    width: 100%;
    height: 100vh;
    background: url("background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: transparent;
    background: url("background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 1;
}

.content .logo{
    font-size: 30px;
}

.content h2{
    font-size: 40px;
}

.content h2 span{
    font-size: 25px;
}

.text-section p{
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i {
    font-size: 22px;
    color: black;
    margin-right: 10px;
    transition: 0.5s ease;
}

.social-icons a:hover i{
    transform: scale(1.2);
    color: rgb(0, 0, 0);
}

.container .logreg-box{
    position: absolute;
    display: flex;
    gap: 20px;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logreg-box .form-box{
    position: relative;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: Black;
}

.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.form-box input{
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.input-box label{
    position:absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    font-size: 12px;
    color: black;
}

.input-box .icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 19px;
    color: black;
}

.form-box .remember-forgot{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: rgb(18, 152, 205);
    margin-right: 3px;
    width: 16px;
    height: 16px;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: rgb(10, 195, 170);
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(10, 195, 170, 0.5);
    transition: 0.5s ease;
}

.form-box .loign-register{
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.loign-register p a{
    color: rgb(10, 195, 170);
    text-decoration: none;
    font-weight: 600;
}
.loign-register p a:hover{
    text-decoration: underline;
}